

<img src="{{player_detail.image_url.url}}" style="height:150px"><br>

<br>
first_name : {{player_detail.first_name}}<br>
last_name : {{player_detail.last_name}}<br>
jersey_id : {{player_detail.jersey_id}}<br>

role : {{player_detail.role}}<br>
played : {{player_detail.played}}<br>
runs : {{player_detail.runs}}<br>

max_runs : {{player_detail.max_runs}}<br>
fifties : {{player_detail.fifties}}<br>
hundreds : {{player_detail.hundreds}}<br>

wickets : {{player_detail.wickets}}<br>
team : {{player_detail.team}}<br>


<!--<a href="/ipl/{{player_id.id}}/details/"> {{player_id}}</a>-->
<br>
<!--<a href="/ipl/player_list">Back</a><br>-->
<br>
